@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

header{
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 2rem;
  background: rgba(0, 0, 0, 0.8);
  display: flex; /*mantem a resolução da tela independente do tamanho*/
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

}

header h1 {
  font-size: 13px;
  color: #ff2b2b;
  margin: 0;
  display: flex;

}

.nav a {
  color: #ff0000;
  transition: 0.3s;
  margin-right: 2rem;
  font-size: 10px;
  display: inline;
  text-decoration: none;
  
}

.nav a:visited {
  color: #ff0000;
}

.nav a:hover {
  color: #ffffff;
  display: inline;
}

h2{
  color: white;
  font-size: 30px;
}

p{
  color: #ffffff;
  font-size: 15px;
}

body{
    zoom: 1.10;
    margin: 0;
    height: 200vh;
    background: linear-gradient(135deg, #111, #222);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    font-family: "Epunda Slab", serif;
    font-weight: 400;

}

svg {
    width: 400px;
    height: auto;
    display: flex;
}

.muscle {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.6px;
  transition: fill 0.7s;
  cursor: pointer;
}

.zero-interaction .no-interaction {
  fill: #deb79d;
  stroke: #000000;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.front-side{
  /* esquerda, baixo */
  transform: translateX(-45%) translateY(-100px) scale(4.5);
}

.back-side{
  transform: translateX(2%) translateY(30px) scale(3.6);
}

.chest:hover .muscle{
  fill: red;
}

.shoulder:hover .muscle{
  fill: red;
}

.quadriceps:hover .muscle{
  fill: red;
}

.abs:hover .muscle{
  fill: red;
}

.calf:hover .muscle{
  fill: red;
}

.trapezius:hover .muscle{
  fill: red;
}

.biceps:hover .muscle{
  fill: red;
}

.forearm:hover .muscle{
  fill: red;
}

.triceps:hover .muscle{
  fill: red;
}

.adductor:hover .muscle{
  fill: red;
}

.back:hover .muscle{
  fill: red;
}

.gluteus:hover .muscle{
  fill: red;
}

.abductor:hover .muscle{
  fill: red;
}

.hamstring:hover .muscle{
  fill: red;
}
