@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 2rem;
  background: rgba(0, 0, 0, 0.8);
  display: flex; /*mantem a resolução da tela independente do tamanho*/
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

}

header h1 {
  font-size: 13px;
  color: #ff2b2b;
  margin: 0;
  display: flex;

}

footer{
  bottom: 0;
  position: fixed;
  width: 90%;
  text-align: center;
}

.nav a {
  color: #ff0000;
  transition: 0.3s;
  margin-right: 2rem;
  font-size: 10px;
  display: inline;
  text-decoration: none;
  
}

.nav a:visited {
  color: #ff0000;
}

.nav a:hover {
  color: #ffffff;
  display: inline;
}

h2{
  color: white;
  font-size: 20px;
}

p{
  color: #ffffff;
  font-size: 10px;

}

body{
    zoom: 1.10;
    margin: 0;
    height: 200vh;
    background: linear-gradient(135deg, #111, #222);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    font-family: "Epunda Slab", serif;
    font-weight: 400;
    text-align:center;

}

.carousel {
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;

  }

  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none; /* Esconde todos */
  }

  .carousel img.active {
    display: block; /* Mostra o atual */
    animation: fade 0.5s ease-in-out;
  }

  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.2);
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }

  .btn:hover {
    background: rgba(255,255,255,0.5);
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
